# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
staticfiles/
media/

# Virtual envs
venv/
.venv/

# VSCode / IDE
.vscode/
.idea/
*.code-workspace

# Environment files
*.env
.env
backend/.env

# OS
.DS_Store
Thumbs.db

# Docker
*.log
